.vin-recalls-container {
    background-color: #e0e0e0;
    padding: 2rem;
    font-family: sans-serif;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
}

.vin-recalls-container h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #000;
}

.vin-recalls-search-box {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    max-width: 100%;
    margin-top: 1rem;
}

.vin-recalls-search-box input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 1rem;
    height: 40px;
    box-sizing: border-box;
}

.vin-recalls-search-box button {
    width: 40px;
    height: 40px;
    background: #000;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.vin-recalls-search-box button svg {
    color: white;
    width: 20px;
    height: 20px;
}

.vin-recalls-link {
    text-align: center;
    display: block;
    margin-bottom: 1rem;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.vin-recalls-note {
    text-align: center;
    font-size: 0.9rem;
    color: #000;
    margin: 0.7rem 0;
}

.vin-recalls-results {
    margin-top: 1.5rem;
}

.vin-recalls-message {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.vin-recalls-message.has-recall,
.vin-recalls-message.no-recall {
    background-color: #f0f0f0;
    color: #333333;
    border: 1px solid #cccccc;
}
